<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <ul>
      <a href="/cadastro">Cadastro </a>
      <a href="/login">Faça Login</a>
      <a href="/index">Página Inicial</a>
      <a href="/termos">Termos de Serviço</a>
    </ul>
    <form action="/busca" method="post">
        Buscar: <input type="text" name="busca_usuario"><br>
        <input type="submit" name="envia">
    </form>
</div>
<div><form action="/cadastro" method="post">
    Nome: <input type="text" name="nome"><br>
    Login: <input type="text" name="login"><br>
    Senha: <input type="text" name="senha"><br>
    <input type="submit" name="envia">
</form>
</div>


</body>
</html>
