<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style/style.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <ul>
        <li><a href="/cadastro">Cadastro </a></li>
        <li><a href="/login">Faça Login</a></li>
        <li><a href="/index">Página Inicial</a></li>
        <li><a href="/termos">Termos de Serviço</a></li>
    </ul>
    <form action="/busca" method="post">
        Buscar Produto: <input type="text" name="busca_usuario"><br>
        <input type="submit" name="envia" style="visibility: hidden;">
    </form>

</div>

<h1>Produtos</h1>

<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td><b>Nome</b></td>
        <td><b>Imagem</b></td>
        <td><b>Marca</b></td>
        <td><b>Preço</b></td>
    </tr>

    <%
    var i=0;
    for(i=0; i<prods.length; i++)
    {

    %>
    <tr>
        <td><%= prods[i].esq_obj %></td>
        <td><img width="100" height="100" src=<%= prods[i].esq_url %>></td>
        <td><%= prods[i].esq_marca %></td>
        <td><%= prods[i].esq_preco %></td>
    </tr>
    <%
    }
    %>


</body>
</html>
