<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <div class="topo">
      <ul>
          <li><a href="/cadastro">Cadastro </a></li>
          <li><a href="/login">Faça Login</a></li>
          <li><a href="/index">Página Inicial</a></li>
          <li><a href="/termos">Termos de Serviço</a></li>
      </ul>
      <form action="/busca" method="post">
          Buscar Produto: <input type="text" name="busca_usuario"><br>
          <input type="submit" name="envia">
      </form>

  </div>
  <h1>Resultados</h1>

    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td><b>Nome</b></td>
            <td><b>Imagem</b></td>
            <td><b>Marca</b></td>
            <td><b>Preço</b></td>
        </tr>

        <%
        var i=0;
        for(i=0; i<resposta.length; i++)
        {

        %>
        <tr>
            <td><%= resposta[i].esq_obj %></td>
            <td><img width="100" height="100" src=<%= resposta[i].esq_url %>></td>
            <td><%= resposta[i].esq_marca %></td>
            <td><%= resposta[i].esq_preco %></td>
        </tr>
        <%
        }
        %>

</table>
</body>
</html>
